# Python
__pycache__/
*.py[cod]
*.pyo

# Environments
.venv/
env/
ENV/
venv/

# AI models (tracked via Git LFS instead)
models/*.pt
models/*.onnx

# Webots temp files
*.wbo
*.wbproj
*.wbproj~
.*.wbproj
*.wrl~
*.log
*.tmp
*.swp
cache/

# Evaluation outputs
robots/e_puck/controllers/eval/*.json

# OS-specific
.DS_Store
Thumbs.db
ehthumbs.db
desktop.ini

# Code editors
.vscode/
.idea/
*.sublime-project
*.sublime-workspace